# Advertise the GPUs
use feature : GPUs
GPU_DISCOVERY_EXTRA = -extra
GalaxyGroup = "compute"
GalaxyCluster = "denbi"
GalaxyDockerHack = "true"
STARTD_ATTRS = GalaxyTraining, GalaxyGroup, GalaxyCluster, GalaxyDockerHack
Rank = StringListMember(MY.GalaxyGroup, TARGET.Group)
BASE_CGROUP = htcondor
CGROUP_MEMORY_LIMIT_POLICY = hard
RESERVED_MEMORY = 2048